---
import type { CollectionEntry } from "astro:content";
import Datetime from "@/components/Datetime.astro";

export interface Props {
  readonly post: CollectionEntry<"blog">;
  readonly tag?: "h2" | "h3";
}

const { post, tag: Tag = "h2" } = Astro.props;
const { title, pubDatetime, modDatetime, description } = post.data;

const headerProps = {
  style: { viewTransitionName: post.slug },
  class: "text-lg font-semibold decoration-dashed hover:underline",
};
---

<li class="my-6">
  <a
    href={`/posts/${post.slug}/`}
    class="inline-block text-lg font-medium text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
  >
    <Tag {...headerProps}>{title}</Tag>
  </a>
  <Datetime pubDatetime={pubDatetime} modDatetime={modDatetime} />
  <p>{description}</p>
</li>
