---
export interface Props {
  readonly href: string;
  readonly class?: string;
  readonly ariaLabel?: string;
  readonly title?: string;
  readonly disabled?: boolean;
  readonly newPage?: boolean;
}

const {
  href,
  class: className,
  ariaLabel,
  title,
  disabled = false,
  newPage = false,
} = Astro.props;
---

{
  disabled ? (
    <span
      class:list={["inline-block", className]}
      aria-label={ariaLabel}
      title={title}
      aria-disabled={disabled}
    >
      <slot />
    </span>
  ) : (
    <a
      {href}
      target={newPage ? "_blank" : null}
      rel={newPage ? "nofollow, noopener, noreferrer" : null}
      class:list={["inline-block hover:text-skin-accent", className]}
      aria-label={ariaLabel}
      title={title}
    >
      <slot />
    </a>
  )
}
