---
import "@pagefind/default-ui/css/ui.css";
import { SITE } from "@/config";

export interface Props {
  readonly id?: string;
  readonly class?: string;
  readonly query?: string;
  readonly uiOptions?: Record<string, any>;
}

const { id, class: className, query, uiOptions = {} } = Astro.props;
const bundlePath = `${import.meta.env.BASE_URL}pagefind/`;
---

<div
  id={id}
  class:list={[className, "pagefind-init"]}
  data-pagefind-ui
  data-bundle-path={bundlePath}
  data-query={query}
  data-ui-options={JSON.stringify(uiOptions)}
>
</div>
<noscript class="prose mx-auto my-8 max-w-3xl">
  <p>
    Built-in search requires JavaScript enabled. Please enable JavaScript in
    your browser settings or use site search features provided by public search
    engines by adding <code>site:{SITE.website}</code>
  </p>
</noscript>
<script>
  import { PagefindUI } from "@pagefind/default-ui";
  import { attach } from "@/utils/useDom";

  function initPageFind() {
    const allSelector = "[data-pagefind-ui]";
    document
      .querySelectorAll<HTMLDivElement>(`${allSelector}.pagefind-init`)
      .forEach(el => {
        const elSelector = [
          ...(el.id ? [`#${el.id}`] : []),
          ...[...el.classList.values()].map(c => `.${c}`),
          allSelector,
        ].join("");
        const bundlePath = el.dataset.bundlePath;
        const opts = JSON.parse(el.dataset.uiOptions ?? "{}");
        new PagefindUI({
          ...opts,
          element: elSelector,
          bundlePath,
        });
        el.classList.remove("pagefind-init");
        const query = el.dataset.query;
        if (query) {
          const input =
            el.querySelector<HTMLInputElement>(`input[type="text"]`);
          if (input) {
            input.value = query;
            input.dispatchEvent(new Event("input", { bubbles: true }));
          }
        }
      });
  }

  attach(initPageFind);
</script>
