---
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import type { Icon as IconType } from "virtual:astro-icon";
import { Icon } from "astro-icon/components";

interface StringTitleProp {
  pageTitle: string;
  pageDesc?: string;
  icon?: IconType;
}

interface ArrayTitleProp {
  pageTitle: [string, string];
  pageDesc?: string;
  titleTransition: string;
  icon?: IconType;
}

export type Props = StringTitleProp | ArrayTitleProp;

const { props } = Astro;
const { pageTitle, pageDesc, icon: name } = props;
---

<Breadcrumbs />
<main id="main-content" class="mx-auto w-full max-w-3xl px-4 pb-4">
  <h1
    class="flex flex-row content-center gap-1 text-2xl font-extrabold tracking-wider sm:gap-2 sm:text-3xl"
  >
    {name && <Icon {name} class="h-8 w-8 sm:h-9 sm:w-9" />}
    {
      "titleTransition" in props ? (
        <>
          {pageTitle[0]}
          <span transition:name={props.titleTransition}>{pageTitle[1]}</span>
        </>
      ) : (
        pageTitle
      )
    }
  </h1>
  {pageDesc && <p class="mb-8 mt-1 italic opacity-70">{pageDesc}</p>}
  <slot />
</main>
