---
import { SITE } from "@/config";
import Layout from "@/layouts/Layout.astro";
import Main from "@/layouts/Main.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import ProseScript from "@/components/ProseScript.astro";

export interface Props {
  readonly frontmatter: {
    readonly title: string;
    readonly description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <ProseScript />
  <Header activeNav="about" />
  <Main
    pageTitle={frontmatter.title}
    pageDesc={frontmatter.description}
    icon="about"
  >
    <article
      data-pagefind-body
      data-pagefind-meta={`image:/${SITE.ogImage}`}
      id="article"
      class="prose mx-auto mb-28 max-w-3xl px-0"
    >
      <slot />
    </article>
  </Main>
  <Footer />
</Layout>
