---
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Tags from "@/components/Tags.astro";
import Datetime from "@/components/Datetime.astro";
import ShareLinks from "@/components/ShareLinks.astro";
import ProseScript from "@/components/ProseScript.astro";
import { SITE } from "@/config";

export interface Props {
  readonly post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

const {
  title,
  author,
  description,
  ogImage,
  canonicalURL,
  pubDatetime,
  modDatetime,
  tags,
} = post.data;

const { Content } = await post.render();

const ogImageUrl =
  (typeof ogImage === "string" ? ogImage : ogImage?.src) ??
  `/posts/${post.slug}.png`;
const ogUrl = new URL(ogImageUrl, Astro.url.origin).href;

const layoutProps = {
  title: `${title} | ${SITE.title}`,
  author,
  description,
  pubDatetime,
  modDatetime,
  canonicalURL,
  ogImage: ogUrl,
  scrollSmooth: true,
};
---

<Layout {...layoutProps}>
  <ProseScript />
  <Header />
  <div class="mx-auto flex w-full max-w-3xl justify-start px-2">
    <a
      id="go-back"
      href="/"
      type="button"
      class="focus-outline mb-2 mt-8 flex pr-1 hover:opacity-75"
    >
      <Icon name="tabler:chevron-left" class="h-6 w-6" />
      <span>Go back</span>
    </a>
  </div>
  <main id="main-content" class="mx-auto w-full max-w-3xl px-4 pb-12">
    <Tags class="mb-2" {tags} />
    <h1
      transition:name={post.slug}
      data-pagefind-meta="title"
      data-pagefind-default-meta={`image_alt, image:${ogImageUrl}`}
      class="text-2xl font-extrabold text-skin-accent"
    >
      {title}
    </h1>
    <Datetime
      pubDatetime={pubDatetime}
      modDatetime={modDatetime}
      size="lg"
      class="my-1"
    />
    <article
      id="article"
      role="article"
      class="prose mx-auto my-8 max-w-3xl"
      data-pagefind-body
    >
      <Content />
    </article>

    <div
      class="flex flex-col items-center justify-between gap-6 sm:flex-row sm:items-end sm:gap-4"
    >
      <ShareLinks />
      <a
        id="back-to-top"
        href="#main-content"
        type="button"
        class="focus-outline flex flex-row gap-1 whitespace-nowrap py-1 hover:opacity-75"
      >
        <Icon name="tabler:chevron-up" class="h-6 w-6" />
        <span>Back to Top</span>
      </a>
    </div>
  </main>
  <Footer />
</Layout>

<script>
  import { attach } from "@/utils/useDom";

  function goBack() {
    document.getElementById("go-back")?.addEventListener("click", event => {
      if (history.length > 1) {
        event.preventDefault();
        history.back();
      }
    });
  }

  function backToTop() {
    document.getElementById("back-to-top")?.addEventListener("click", event => {
      event.preventDefault();
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    });
  }

  attach(() => {
    goBack();
    backToTop();
  });
</script>
