---
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";
import type { Tag } from "@/utils/usePosts";
import Layout from "@/layouts/Layout.astro";
import Main from "@/layouts/Main.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Card from "@/components/Card.astro";
import Pagination from "@/components/Pagination.astro";
import { SITE } from "@/config";

export interface Props {
  readonly page: Page<CollectionEntry<"blog">>;
  readonly tag: Tag;
}

const { page, tag } = Astro.props;
---

<Layout title={`Tag: ${tag.name} | ${SITE.title}`}>
  <Header activeNav="tags" />
  <Main
    pageTitle={[`Tag:`, `${tag.name}`]}
    titleTransition={tag.slug}
    pageDesc={`All the articles with the tag "${tag.name}".`}
    icon="tags"
  >
    <h1 slot="title" transition:name={tag.slug}>{`Tag:${tag.slug}`}</h1>
    <ul>
      {page.data.map(post => <Card {post} />)}
    </ul>
  </Main>

  <Pagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
